{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'js/script.js' %}" defer></script>

<div class="test">
  <ul class="photos">

    {% for photo in photos %}

    <li class="photo__list">
      <a href="{% url 'update_photo' photo.pk %}"><img class="photo" src="{{ photo.photo.url }}"
          alt="{{ photo.city }}" /></a>
    </li>

    {% endfor %}

  </ul>
</div>


<div class="carousel">

  {% for photo in random_photos %}

  <div class="carousel__row">
    <a href="{% url 'update_photo' photo.pk %}"><img class="carousel__photo" src="{{ photo.photo.url }}"
        alt="{{ photo.city }}" /></a>

    <div class="carousel__description">
      {{ photo.city }}
    </div>
  </div>



  {% endfor %}

</div>

{% endblock content %}